@import './variables';
@import './mixins';

.beach {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/beach.jpg);
    background-position: bottom;
    background-size: cover;

    h2 {
        font-size: 5rem;
        text-align: center;
        font-family: $fontB;
        position: absolute;
        top: 5%;
        right: 10%;
        z-index: 10;
    }

    &.exploring {
        display: none;
    }
}