@import "_variables.scss";

.creatures {
  position: absolute;
  height: calc(11000px + 50rem);

  .creature {
    position: absolute;
    transform: translateY(-50%);

    &:hover {
      filter: drop-shadow(0 0 5rem rgba(255, 255, 255, 0.7))
        drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5));

      &::after {
        opacity: 1;
      }
    }

    &::after {
      display: block;
      content: "";
      font-family: $fontA;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 20rem;
      height: 15rem;
      background-image: url(../assets/paper2.png);
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0;
      transition: all 0.2s;
      text-align: center;
      font-size: 4rem;
      padding: 3rem;
    }

    img {
      width: 100%;
    }

    &.spermWhale {
      top: 1400px;
      width: 40vw;
      animation: swimRight 10s linear infinite;

      &::after {
        top: -75%;
      }

      & img {
        animation: swimFlip 10s linear infinite;
      }

      &:hover {
        &::after {
          content: "Sperm Whale";
        }
      }
    }

    &.squid {
      left: 70vw;
      top: 1800px;
      width: 30vw;
      animation: swimLeft 5s ease infinite;

      &::after {
        top: -120%;
      }

      & img {
        animation: swimFlip 5s linear infinite;
      }

      &:hover {
        &::after {
          content: "Colossal Squid";
        }
      }
    }

    &.lionfish {
      left: 10vw;
      top: 50px;
      width: 5vw;
      animation: swimRight 7s linear infinite;

      &::after {
        top: 120%;
      }

      & img {
        animation: swimFlip 7s linear infinite;
      }

      &:hover {
        &::after {
          padding: 5rem;
          content: "Lionfish";
        }
      }
    }

    &.blueWhale {
      left: -100vw;
      top: 120px;
      width: 60vw;
      animation: swimRightFar 20s linear infinite;

      &::after {
        top: 100%;
      }

      &:hover {
        &::after {
          content: "Blue Whale";
        }
      }
    }

    &.dolphin {
      left: 125vw;
      top: 150px;
      transform: translateY(100%);
      width: 20vw;
      animation: swimLeftFar 10s linear infinite;

      &::after {
        top: 70%;
      }

      &:hover {
        &::after {
          content: "Bottlenose Dolphin";
        }
      }
    }

    &.tuna {
      left: 10vw;
      top: 900px;
      width: 20vw;
      animation: swimRight 5s ease infinite;

      & img {
        animation: swimFlip 5s linear infinite;
      }

      &::after {
        top: -95%;
      }

      &:hover {
        &::after {
          content: "Yellowfin Tuna";
        }
      }
    }

    &.sunfish {
      left: 80vw;
      top: 50px;
      width: 15vw;
      animation: swimLeft 10s linear infinite;

      & img {
        animation: swimFlip 10s linear infinite;
      }

      &::after {
        top: 100%;
        padding: 5rem;
      }

      &:hover {
        &::after {
          content: "Sunfish";
        }
      }
    }

    &.ray {
      left: -30vw;
      top: 600px;
      width: 15vw;
      animation: swimRight 10s linear infinite;

      & img {
        animation: swimFlip 10s linear infinite;
      }

      &::after {
        top: 80%;
        padding: 3rem;
      }

      &:hover {
        &::after {
          content: "Manta Ray";
        }
      }
    }

    &.shark {
      left: 120vw;
      top: 1400px;
      width: 15vw;
      animation: swimLeftFar 15s linear infinite;

      &::after {
        top: -270%;
        padding: 3rem;
      }

      &:hover {
        &::after {
          content: "Frilled Shark";
        }
      }
    }

    &.anglerfish {
      left: 70vw;
      top: 2300px;
      width: 4vw;
      animation: swimRight 10s ease infinite;

      & img {
        animation: swimFlip 10s linear infinite;
      }

      &::after {
        top: 100%;
        padding: 3rem;
      }

      &:hover {
        &::after {
          content: "Humpback Anglerfish";
        }
      }
    }

    &.eel {
      left: -20vw;
      top: 2700px;
      width: 8vw;
      animation: swimRightFar 15s linear infinite;

      &::after {
        top: -300%;
        padding: 3rem;
      }

      &:hover {
        &::after {
          content: "Pelican Eel";
        }
      }
    }

    &.oarfish {
      left: -50vw;
      top: 2200px;
      width: 30vw;
      transform: translateY(-300%);
      animation: swimRightFar 12s ease infinite;

      &::after {
        top: -80%;
        padding: 3rem;
      }

      &:hover {
        &::after {
          content: "Giant Oarfish";
        }
      }
    }

    &.octopus {
      left: 120vw;
      top: 4000px;

      width: 3vw;
      animation: zigzagLeft 15s ease-out infinite;

      &::after {
        top: -300%;
        padding: 3rem;
      }

      &:hover {
        &::after {
          content: "Dumbo Octopus";
        }
      }
    }

    &.dragonfish {
      left: 120vw;
      top: 2000px;
      width: 5vw;
      animation: swimLeftFar 15s ease-in infinite;

      &::after {
        top: 150%;
        padding: 3rem;
      }

      &:hover {
        &::after {
          content: "Black Dragonfish";
        }
      }
    }

    &.vampire {
      left: 20vw;
      top: 3000px;
      width: 5vw;
      animation: swimRight 15s ease infinite;

      & img {
        animation: swimFlip 15s linear infinite;
      }

      &::after {
        top: 120%;
        padding: 3rem 0rem 3rem 0rem;
      }

      &:hover {
        &::after {
          content: "Vampire Squid";
        }
      }
    }

    &.fangtooth {
      left: 110vw;
      top: 5000px;
      width: 5vw;
      animation: swimLeftFar 15s ease-out infinite;

      &::after {
        top: -350%;
        padding: 5rem 0rem 5rem 0rem;
      }

      &:hover {
        &::after {
          content: "Fangtooth";
        }
      }
    }

    &.swallower {
      left: 110vw;
      top: 2800px;
      width: 5vw;
      transform: translateY(-500%);
      animation: swimLeftFar 10s ease-out infinite;

      &::after {
        top: -300%;
        padding: 3rem 0rem 3rem 0rem;
      }

      &:hover {
        &::after {
          content: "Black Swallower";
        }
      }
    }

    &.tripod {
      left: 80vw;
      top: 4500px;
      width: 7vw;
      animation: swimLeft 7s linear infinite;

      & img {
        animation: swimFlip 7s linear infinite;
      }

      &::after {
        top: -200%;
        padding: 3rem;
      }

      &:hover {
        &::after {
          content: "Tripod Fish";
        }
      }
    }

    &.tentacleOne {
      left: -70vw;
      top: 8000px;
      width: 40vw;
      animation: swimRight 15s linear infinite;

      & img {
        filter: brightness(0.5);
      }

      &::after {
        top: -20%;
        left: 70%;
        padding: 5rem;
      }

      &:hover {
        &::after {
          content: "??????";
        }
      }
    }

    &.tentacleTwo {
      left: 130vw;
      top: 8300px;
      width: 35vw;
      animation: swimLeft 12s linear infinite;

      & img {
        filter: brightness(0.3);
      }

      &::after {
        top: 105%;
        padding: 5rem;
      }

      &:hover {
        &::after {
          content: "??????";
        }
      }
    }

    &.cthulhu {
      overflow: hidden;
      transform: translateY(0);
      z-index: 0;
      left: 10vw;
      top: auto;
      bottom: 20rem;
      width: 80vw;
      animation: cthulhu 25s linear infinite;
      opacity: 0;
      pointer-events: none;
      filter: brightness(0.6);

      & img {
        overflow: hidden;
      }
    }

    &.cthulhuTwo {
      overflow: hidden;
      transform: translateY(0);
      z-index: 0;
      left: 10vw;
      top: auto;
      bottom: 20rem;
      width: 80vw;
      animation: cthulhuTwo 15s linear infinite;
      opacity: 0;
      pointer-events: none;
      filter: drop-shadow(0px 0px 1rem red) drop-shadow(0px 0px 5rem red)
        brightness(2);

      & img {
        overflow: hidden;
      }
    }
  }
}

@keyframes swimRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(60vw);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes swimFlip {
  45% {
    transform: none;
  }

  50% {
    transform: rotateY(180deg);
  }

  95% {
    transform: rotateY(180deg);
  }

  100% {
    transform: none;
  }
}

@keyframes swimLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-60vw);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes swimRightFar {
  100% {
    transform: translateX(150vw) translateY(100%);
  }
}

@keyframes swimLeftFar {
  100% {
    transform: translateX(-150vw) translateY(-200%);
  }
}

@keyframes zigzagLeft {
  12% {
    transform: translateY(-150%) translateX(-15vw);
  }
  24% {
    transform: translateY(150%) translateX(-30vw);
  }
  36% {
    transform: translateY(-150%) translateX(-45vw);
  }
  48% {
    transform: translateY(150%) translateX(-60vw);
  }
  60% {
    transform: translateY(-150%) translateX(-75vw);
  }
  72% {
    transform: translateY(150%) translateX(-90vw);
  }
  84% {
    transform: translateY(-150%) translateX(-105vw);
  }
  100% {
    transform: translateY(150%) translateX(-130vw);
  }
}

@keyframes cthulhu {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 0;
  }
}

@keyframes cthulhuTwo {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}
