@import './variables';
@import './mixins';

.cursor {
    transform:translate(10%, -50%);
    transition: all ease-out .5s;
    position: absolute;
    background-image: url(../assets/cursor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    height: 10vw;
    display: none;

    &.show {
        display: block;
    }

    &.faceRight{
        transform: rotateY(180deg) translate(110%, -50%);
    }
}