@import './variables';

.note {
    transition: all 1s;
    width: 100%;
    height: 100%;
    font-family: $fontA;
    background-image: url(../assets/paper.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 20;
    top: -1000%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.show {
        top: 0;
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 25%;
        text-align: center;

        h2 {
            font-size: 6rem;
            opacity: .6;
        }

        h3 {
            opacity: 0.6;
            font-size: 5rem;
            transition: all 0.5s;
            cursor: pointer;

            &.yes:hover {
                color: green;
            }

            &.no:hover {
                color: red;
            }
        }
        
        .options {
            margin-top: 7rem;
            display: flex;
            justify-content: space-around;
        }
    }
}