@import "./variables";

div.oceanBG {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(11000px + 50rem);

  background-image: linear-gradient(
    #00ffff 2%,
    #00ced1 10%,
    #191970 40%,
    #000 60%
  );
  display: none;

  .floor {
    background-image: url(../assets/floor.png);
    background-size: cover;
    background-position-y: 60%;
    background-repeat: no-repeat;
    height: 50rem;
    position: absolute;
    top: 11000px;
    width: 100%;
    overflow: hidden;
    z-index: 10;
  }

  .buttons {
    position: fixed;
    z-index: 300;
    top: 2%;
    left: 2%;

    .button {
      transition: all 0.1s ease;
      font-family: $fontA;
      font-size: 2.5rem;
      text-align: center;
      border: black 3px solid;
      border-radius: 0.5rem;
      margin: 1rem;
      padding: 0.5rem;
      background-color: rgba(255, 255, 255, 0.3);

      &::before {
        transition: all 0.1s ease;
        content: "";
        margin-top: 1.3rem;
        position: absolute;
        z-index: 60;
        width: 84%;
        left: 8%;
        height: 0.3rem;
        background-color: #000000;
        transform: rotateZ(-25deg);
        opacity: 0;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.7);

        &::before {
          opacity: 1;
        }
      }

      &.hide {
        &::before {
          opacity: 1;
        }

        &:hover {
          &::before {
            opacity: 0;
          }
        }
      }
    }
  }
}
