@import "./variables";

div.oceanBG {
    width: 100%;
    height: 11500px;
    background-image: linear-gradient(#00FFFF 2%, #00CED1 10%, #191970 40%, #000 60%);
    display: none;

    .floor {
        background-image: url(../assets/floor.jpg);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 500px;
        position: absolute;
        top: 11000px;
        width: 100%;
        overflow: hidden;
    }

    .buttons {
        position: fixed;
        z-index: 300;
        top: 2%;
        left: 2%;

        .button {
            transition: all 0.1s ease;
            font-family: $fontA;
            font-size: 2.5rem;
            text-align: center;
            border: black 3px solid;
            border-radius: .5rem;
            margin: 1rem;
            padding: .5rem;
            background-color: rgba(255, 255, 255, 0.3);

            &::before {
                transition: all 0.1s ease;
                content: '';
                margin-top: 1.3rem;
                position: absolute;
                z-index: 60;
                width: 84%;
                left: 8%;
                height: 0.3rem;
                background-color: #000000;
                transform: rotateZ(-25deg);
                opacity: 0;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.7);

                &::before {
                    opacity: 1;
                }
            }

            &.hide {

                &::before {
                    opacity: 1;
                }

                &:hover {
                    &::before {
                        opacity: 0;
                }
                }
            }
        }
    }
}