.waveTransition {
    position: fixed;
    z-index: 200;
    bottom: 75%;
    transform: scale(0.1);
    opacity: 0;
    animation: transition 2s linear 1;
}

@keyframes transition {
    0% {
        opacity: 1;
        transform: scale(0.5);
    }
    90% {
        transform: scale(5);
    }
}
