@import "./partials/setup";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/beach";
@import "./partials/bottle";
@import "./partials/note";
@import "./partials/waves";
@import "./partials/oceanBG";
@import "./partials/ruler";
@import "./partials/bubbles";
@import "./partials/cursor";