html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: calc(5px + (10 - 5) * (100vw - 320px) / (1600 - 320));
}

body {
  font-size: 1.6rem;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

html, body {
  overflow-x: hidden;
  width: 100vw;
}

.beach {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/beach.jpg);
  background-position: bottom;
  background-size: cover;
}

.beach h2 {
  font-size: 5rem;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  position: absolute;
  top: 5%;
  right: 10%;
  z-index: 10;
}

.beach.exploring {
  display: none;
}

.bottle {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 10%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-filter: drop-shadow(-3rem -2rem 1rem rgba(105, 105, 105, 0.5));
          filter: drop-shadow(-3rem -2rem 1rem rgba(105, 105, 105, 0.5));
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.bottle img {
  width: 100%;
}

.bottle:hover {
  -webkit-animation: pulse 2.5s linear infinite;
          animation: pulse 2.5s linear infinite;
  cursor: pointer;
}

.bottle.zoomed {
  width: 20vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%) rotateZ(15deg);
          transform: translate(-50%, -60%) rotateZ(15deg);
  -webkit-filter: none;
          filter: none;
}

.bottle.zoomed img {
  -webkit-animation: shake 2.5s linear infinite;
          animation: shake 2.5s linear infinite;
}

.bottle.zoomed:hover {
  -webkit-animation: pulse2 2.5s linear infinite;
          animation: pulse2 2.5s linear infinite;
}

@-webkit-keyframes pulse {
  50% {
    -webkit-filter: drop-shadow(-3rem -2rem 1rem rgba(105, 105, 105, 0.5)) drop-shadow(0rem 0rem 1rem white) drop-shadow(0rem 0rem 3rem white);
            filter: drop-shadow(-3rem -2rem 1rem rgba(105, 105, 105, 0.5)) drop-shadow(0rem 0rem 1rem white) drop-shadow(0rem 0rem 3rem white);
  }
}

@keyframes pulse {
  50% {
    -webkit-filter: drop-shadow(-3rem -2rem 1rem rgba(105, 105, 105, 0.5)) drop-shadow(0rem 0rem 1rem white) drop-shadow(0rem 0rem 3rem white);
            filter: drop-shadow(-3rem -2rem 1rem rgba(105, 105, 105, 0.5)) drop-shadow(0rem 0rem 1rem white) drop-shadow(0rem 0rem 3rem white);
  }
}

@-webkit-keyframes pulse2 {
  50% {
    -webkit-filter: drop-shadow(0rem 0rem 1rem white) drop-shadow(0rem 0rem 3rem white);
            filter: drop-shadow(0rem 0rem 1rem white) drop-shadow(0rem 0rem 3rem white);
  }
}

@keyframes pulse2 {
  50% {
    -webkit-filter: drop-shadow(0rem 0rem 1rem white) drop-shadow(0rem 0rem 3rem white);
            filter: drop-shadow(0rem 0rem 1rem white) drop-shadow(0rem 0rem 3rem white);
  }
}

@-webkit-keyframes shake {
  70% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  80% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  85% {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  90% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  95% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes shake {
  70% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  80% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  85% {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  90% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  95% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

.note {
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100%;
  height: 100%;
  font-family: "Shadows Into Light", cursive;
  background-image: url(../assets/paper.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 20;
  top: -1000%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.note.show {
  top: 0;
}

.note .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  text-align: center;
}

.note .text h2 {
  font-size: 6rem;
  opacity: 0.7;
}

.note .text h3 {
  opacity: 0.6;
  font-size: 5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.note .text h3.yes:hover {
  color: green;
}

.note .text h3.no:hover {
  color: red;
}

.note .text .options {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.waveTransition .fade {
  position: fixed;
  z-index: 201;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #fff;
  -webkit-animation: fade 2s linear 1;
          animation: fade 2s linear 1;
}

.waveTransition img {
  position: fixed;
  z-index: 200;
  bottom: 0;
  width: 100%;
  -webkit-animation: transition 2.5s linear 1;
          animation: transition 2.5s linear 1;
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes transition {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(15);
            transform: scale(15);
  }
}

@keyframes transition {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(15);
            transform: scale(15);
  }
}

@-webkit-keyframes fade {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.oceanBG {
  width: 100%;
  height: 11400px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #00FFFF), color-stop(10%, #00CED1), color-stop(40%, #191970), color-stop(60%, #000));
  background-image: linear-gradient(#00FFFF 2%, #00CED1 10%, #191970 40%, #000 60%);
  display: none;
}

div.oceanBG .floor {
  background-image: url(../assets/floor.png);
  background-size: cover;
  background-position-y: 60%;
  background-repeat: no-repeat;
  height: 500px;
  position: absolute;
  top: 10900px;
  width: 100%;
  overflow: hidden;
}

div.oceanBG .buttons {
  position: fixed;
  z-index: 300;
  top: 2%;
  left: 2%;
}

div.oceanBG .buttons .button {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  font-family: "Shadows Into Light", cursive;
  font-size: 2.5rem;
  text-align: center;
  border: black 3px solid;
  border-radius: .5rem;
  margin: 1rem;
  padding: .5rem;
  background-color: rgba(255, 255, 255, 0.3);
}

div.oceanBG .buttons .button::before {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  content: '';
  margin-top: 1.3rem;
  position: absolute;
  z-index: 60;
  width: 84%;
  left: 8%;
  height: 0.3rem;
  background-color: #000000;
  -webkit-transform: rotateZ(-25deg);
          transform: rotateZ(-25deg);
  opacity: 0;
}

div.oceanBG .buttons .button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

div.oceanBG .buttons .button:hover::before {
  opacity: 1;
}

div.oceanBG .buttons .button.hide::before {
  opacity: 1;
}

div.oceanBG .buttons .button.hide:hover::before {
  opacity: 0;
}

.ruler {
  font-family: "Cinzel Decorative", cursive;
  color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
}

.ruler .standardLabel {
  height: 11000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
}

.ruler p {
  text-align: right;
  border-top: 2px solid rgba(255, 255, 255, 0.7);
  display: block;
  padding-top: 1rem;
  padding-right: 1rem;
}

.extraLabel p.twoHundred {
  position: absolute;
  width: 100%;
  top: 200px;
  right: 0;
}

.extraLabel .zone {
  text-align: left;
  position: absolute;
  right: 0;
  white-space: nowrap;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  font-size: 10rem;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}

.extraLabel .zone.zoneOne {
  top: 20px;
}

.extraLabel .zone.zoneTwo {
  top: 220px;
  opacity: .95;
}

.extraLabel .zone.zoneThree {
  top: 1020px;
  opacity: .8;
}

.extraLabel .zone.zoneFour {
  top: 4020px;
  opacity: .6;
}

.extraLabel .zone.zoneFive {
  top: 6020px;
  opacity: .45;
}

@-webkit-keyframes marquee {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.bubbles {
  position: fixed;
  z-index: 200;
  height: 100vh;
  width: 100vw;
  display: none;
  pointer-events: none;
}

.bubbles.show {
  display: block;
}

.bubbles span {
  position: absolute;
  bottom: -50px;
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  -webkit-animation: rise 4s linear infinite;
          animation: rise 4s linear infinite;
}

.bubbles span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.25) translate(-70%, -70%);
          transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(#fff, transparent);
  border-radius: 50%;
}

@-webkit-keyframes rise {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1500%);
            transform: translateY(-1500%);
    opacity: 0;
  }
}

@keyframes rise {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1500%);
            transform: translateY(-1500%);
    opacity: 0;
  }
}

.cursor {
  -webkit-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
  position: absolute;
  z-index: 100;
  background-image: url(../assets/cursor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10vw;
  height: 10vw;
  display: none;
  pointer-events: none;
}

.cursor.show {
  display: block;
}

.cursor.faceRight {
  -webkit-transform: rotateY(180deg) translate(110%, -50%);
          transform: rotateY(180deg) translate(110%, -50%);
}

.creatures {
  position: absolute;
  height: 11000px;
}

.creatures .creature {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.creatures .creature:hover {
  -webkit-filter: drop-shadow(0 0 5rem rgba(255, 255, 255, 0.7)) drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0 0 5rem rgba(255, 255, 255, 0.7)) drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5));
}

.creatures .creature:hover::after {
  opacity: 1;
}

.creatures .creature::after {
  display: block;
  content: '';
  font-family: "Shadows Into Light", cursive;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20rem;
  height: 15rem;
  background-image: url(../assets/paper2.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  font-size: 4rem;
  padding: 3rem;
}

.creatures .creature img {
  width: 100%;
}

.creatures .creature.spermWhale {
  top: 1400px;
  width: 40vw;
  -webkit-animation: swimRight 10s linear infinite;
          animation: swimRight 10s linear infinite;
}

.creatures .creature.spermWhale::after {
  top: -75%;
}

.creatures .creature.spermWhale img {
  -webkit-animation: swimFlip 10s linear infinite;
          animation: swimFlip 10s linear infinite;
}

.creatures .creature.spermWhale:hover::after {
  content: 'Sperm Whale';
}

.creatures .creature.squid {
  left: 70vw;
  top: 1800px;
  width: 30vw;
  -webkit-animation: swimLeft 5s ease infinite;
          animation: swimLeft 5s ease infinite;
}

.creatures .creature.squid::after {
  top: -120%;
}

.creatures .creature.squid img {
  -webkit-animation: swimFlip 5s linear infinite;
          animation: swimFlip 5s linear infinite;
}

.creatures .creature.squid:hover::after {
  content: 'Colossal Squid';
}

.creatures .creature.lionfish {
  left: 10vw;
  top: 50px;
  width: 5vw;
  -webkit-animation: swimRight 7s linear infinite;
          animation: swimRight 7s linear infinite;
}

.creatures .creature.lionfish::after {
  top: 120%;
}

.creatures .creature.lionfish img {
  -webkit-animation: swimFlip 7s linear infinite;
          animation: swimFlip 7s linear infinite;
}

.creatures .creature.lionfish:hover::after {
  padding: 5rem;
  content: 'Lionfish';
}

.creatures .creature.blueWhale {
  left: -100vw;
  top: 120px;
  width: 60vw;
  -webkit-animation: swimRightFar 20s linear infinite;
          animation: swimRightFar 20s linear infinite;
}

.creatures .creature.blueWhale::after {
  top: 100%;
}

.creatures .creature.blueWhale:hover::after {
  content: 'Blue Whale';
}

.creatures .creature.dolphin {
  left: 125vw;
  top: 150px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 20vw;
  -webkit-animation: swimLeftFar 10s linear infinite;
          animation: swimLeftFar 10s linear infinite;
}

.creatures .creature.dolphin::after {
  top: 70%;
}

.creatures .creature.dolphin:hover::after {
  content: 'Bottlenose Dolphin';
}

.creatures .creature.tuna {
  left: 10vw;
  top: 900px;
  width: 20vw;
  -webkit-animation: swimRight 5s ease infinite;
          animation: swimRight 5s ease infinite;
}

.creatures .creature.tuna img {
  -webkit-animation: swimFlip 5s linear infinite;
          animation: swimFlip 5s linear infinite;
}

.creatures .creature.tuna::after {
  top: -95%;
}

.creatures .creature.tuna:hover::after {
  content: 'Yellowfin Tuna';
}

.creatures .creature.sunfish {
  left: 80vw;
  top: 50px;
  width: 15vw;
  -webkit-animation: swimLeft 10s linear infinite;
          animation: swimLeft 10s linear infinite;
}

.creatures .creature.sunfish img {
  -webkit-animation: swimFlip 10s linear infinite;
          animation: swimFlip 10s linear infinite;
}

.creatures .creature.sunfish::after {
  top: 100%;
  padding: 5rem;
}

.creatures .creature.sunfish:hover::after {
  content: 'Sunfish';
}

.creatures .creature.ray {
  left: -30vw;
  top: 600px;
  width: 15vw;
  -webkit-animation: swimRight 10s linear infinite;
          animation: swimRight 10s linear infinite;
}

.creatures .creature.ray img {
  -webkit-animation: swimFlip 10s linear infinite;
          animation: swimFlip 10s linear infinite;
}

.creatures .creature.ray::after {
  top: 80%;
  padding: 3rem;
}

.creatures .creature.ray:hover::after {
  content: 'Manta Ray';
}

.creatures .creature.shark {
  left: 120vw;
  top: 1400px;
  width: 15vw;
  -webkit-animation: swimLeftFar 15s linear infinite;
          animation: swimLeftFar 15s linear infinite;
}

.creatures .creature.shark::after {
  top: -270%;
  padding: 3rem;
}

.creatures .creature.shark:hover::after {
  content: 'Frilled Shark';
}

.creatures .creature.anglerfish {
  left: 70vw;
  top: 2300px;
  width: 4vw;
  -webkit-animation: swimRight 10s ease infinite;
          animation: swimRight 10s ease infinite;
}

.creatures .creature.anglerfish img {
  -webkit-animation: swimFlip 10s linear infinite;
          animation: swimFlip 10s linear infinite;
}

.creatures .creature.anglerfish::after {
  top: 100%;
  padding: 3rem;
}

.creatures .creature.anglerfish:hover::after {
  content: 'Humpback Anglerfish';
}

.creatures .creature.eel {
  left: -20vw;
  top: 2700px;
  width: 8vw;
  -webkit-animation: swimRightFar 15s linear infinite;
          animation: swimRightFar 15s linear infinite;
}

.creatures .creature.eel::after {
  top: -300%;
  padding: 3rem;
}

.creatures .creature.eel:hover::after {
  content: 'Pelican Eel';
}

.creatures .creature.oarfish {
  left: -50vw;
  top: 2200px;
  width: 30vw;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-animation: swimRightFar 12s ease infinite;
          animation: swimRightFar 12s ease infinite;
}

.creatures .creature.oarfish::after {
  top: -80%;
  padding: 3rem;
}

.creatures .creature.oarfish:hover::after {
  content: 'Giant Oarfish';
}

.creatures .creature.octopus {
  left: 120vw;
  top: 4000px;
  width: 3vw;
  -webkit-animation: zigzagLeft 15s ease-out infinite;
          animation: zigzagLeft 15s ease-out infinite;
}

.creatures .creature.octopus::after {
  top: -300%;
  padding: 3rem;
}

.creatures .creature.octopus:hover::after {
  content: 'Dumbo Octopus';
}

.creatures .creature.dragonfish {
  left: 120vw;
  top: 2000px;
  width: 5vw;
  -webkit-animation: swimLeftFar 15s ease-in infinite;
          animation: swimLeftFar 15s ease-in infinite;
}

.creatures .creature.dragonfish::after {
  top: 150%;
  padding: 3rem;
}

.creatures .creature.dragonfish:hover::after {
  content: 'Black Dragonfish';
}

.creatures .creature.vampire {
  left: 20vw;
  top: 3000px;
  width: 5vw;
  -webkit-animation: swimRight 15s ease infinite;
          animation: swimRight 15s ease infinite;
}

.creatures .creature.vampire img {
  -webkit-animation: swimFlip 15s linear infinite;
          animation: swimFlip 15s linear infinite;
}

.creatures .creature.vampire::after {
  top: 120%;
  padding: 3rem 0rem 3rem 0rem;
}

.creatures .creature.vampire:hover::after {
  content: 'Vampire Squid';
}

.creatures .creature.fangtooth {
  left: 110vw;
  top: 5000px;
  width: 5vw;
  -webkit-animation: swimLeftFar 15s ease-out infinite;
          animation: swimLeftFar 15s ease-out infinite;
}

.creatures .creature.fangtooth::after {
  top: -350%;
  padding: 5rem 0rem 5rem 0rem;
}

.creatures .creature.fangtooth:hover::after {
  content: 'Fangtooth';
}

.creatures .creature.swallower {
  left: 110vw;
  top: 2800px;
  width: 5vw;
  -webkit-transform: translateY(-500%);
          transform: translateY(-500%);
  -webkit-animation: swimLeftFar 10s ease-out infinite;
          animation: swimLeftFar 10s ease-out infinite;
}

.creatures .creature.swallower::after {
  top: -300%;
  padding: 3rem 0rem 3rem 0rem;
}

.creatures .creature.swallower:hover::after {
  content: 'Black Swallower';
}

.creatures .creature.tripod {
  left: 80vw;
  top: 4500px;
  width: 7vw;
  -webkit-animation: swimLeft 7s linear infinite;
          animation: swimLeft 7s linear infinite;
}

.creatures .creature.tripod img {
  -webkit-animation: swimFlip 7s linear infinite;
          animation: swimFlip 7s linear infinite;
}

.creatures .creature.tripod::after {
  top: -200%;
  padding: 3rem;
}

.creatures .creature.tripod:hover::after {
  content: 'Tripod Fish';
}

@-webkit-keyframes swimRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(60vw);
            transform: translateX(60vw);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes swimRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(60vw);
            transform: translateX(60vw);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes swimFlip {
  45% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  95% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes swimFlip {
  45% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  95% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes swimLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-60vw);
            transform: translateX(-60vw);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes swimLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-60vw);
            transform: translateX(-60vw);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes swimRightFar {
  100% {
    -webkit-transform: translateX(150vw) translateY(100%);
            transform: translateX(150vw) translateY(100%);
  }
}

@keyframes swimRightFar {
  100% {
    -webkit-transform: translateX(150vw) translateY(100%);
            transform: translateX(150vw) translateY(100%);
  }
}

@-webkit-keyframes swimLeftFar {
  100% {
    -webkit-transform: translateX(-150vw) translateY(-200%);
            transform: translateX(-150vw) translateY(-200%);
  }
}

@keyframes swimLeftFar {
  100% {
    -webkit-transform: translateX(-150vw) translateY(-200%);
            transform: translateX(-150vw) translateY(-200%);
  }
}

@-webkit-keyframes zigzagLeft {
  12% {
    -webkit-transform: translateY(-150%) translateX(-15vw);
            transform: translateY(-150%) translateX(-15vw);
  }
  24% {
    -webkit-transform: translateY(150%) translateX(-30vw);
            transform: translateY(150%) translateX(-30vw);
  }
  36% {
    -webkit-transform: translateY(-150%) translateX(-45vw);
            transform: translateY(-150%) translateX(-45vw);
  }
  48% {
    -webkit-transform: translateY(150%) translateX(-60vw);
            transform: translateY(150%) translateX(-60vw);
  }
  60% {
    -webkit-transform: translateY(-150%) translateX(-75vw);
            transform: translateY(-150%) translateX(-75vw);
  }
  72% {
    -webkit-transform: translateY(150%) translateX(-90vw);
            transform: translateY(150%) translateX(-90vw);
  }
  84% {
    -webkit-transform: translateY(-150%) translateX(-105vw);
            transform: translateY(-150%) translateX(-105vw);
  }
  100% {
    -webkit-transform: translateY(150%) translateX(-130vw);
            transform: translateY(150%) translateX(-130vw);
  }
}

@keyframes zigzagLeft {
  12% {
    -webkit-transform: translateY(-150%) translateX(-15vw);
            transform: translateY(-150%) translateX(-15vw);
  }
  24% {
    -webkit-transform: translateY(150%) translateX(-30vw);
            transform: translateY(150%) translateX(-30vw);
  }
  36% {
    -webkit-transform: translateY(-150%) translateX(-45vw);
            transform: translateY(-150%) translateX(-45vw);
  }
  48% {
    -webkit-transform: translateY(150%) translateX(-60vw);
            transform: translateY(150%) translateX(-60vw);
  }
  60% {
    -webkit-transform: translateY(-150%) translateX(-75vw);
            transform: translateY(-150%) translateX(-75vw);
  }
  72% {
    -webkit-transform: translateY(150%) translateX(-90vw);
            transform: translateY(150%) translateX(-90vw);
  }
  84% {
    -webkit-transform: translateY(-150%) translateX(-105vw);
            transform: translateY(-150%) translateX(-105vw);
  }
  100% {
    -webkit-transform: translateY(150%) translateX(-130vw);
            transform: translateY(150%) translateX(-130vw);
  }
}
/*# sourceMappingURL=styles.css.map */